<div class='jumbotron text-center'>
  <h1>Foro Rails Girls Cali</h1>
  <%= link_to "Registrarte", "#", class: "btn btn-primary" %>
  <%= link_to "Iniciar Sesion", "#", class: "btn btn-primary" %>
  <div class='row'>
    <div class='col-xs-6 col-md-3'>
      <%=image_tag "image_2.png",class: "img-responsive" %>
    </div>
    <div class='col-xs-6 col-md-3'>
      <%=image_tag "image_1.png" ,class: "img-responsive"%>
    </div>
    <div class='col-xs-6 col-md-3'>
      <%=image_tag "image_1.png" ,class: "img-responsive"%>
    </div>
    <div class='col-xs-6 col-md-3'>
      <%=image_tag "image_2.png" ,class: "img-responsive"%>
    </div>
  </div>
  <p class='lead'>
    Use this document as a way to quickly start any new project.
    <br>
    All you get is this text and a mostly barebones HTML document.
  </p>
</div>
